footer {
    background-color: $azul;
    padding: 20px 0 15px;

    img {
        width: 80px;
    }

    span {
        color: $branco;
        font-weight: 100;
        font-size: 14px;
    }

    .myfooter {
        margin: auto;
        text-align: center;
    }
}